<a href="https://colab.research.google.com/github/ASMAAHASSANNN/PORTFOLIO/blob/main/SQL_Predict_Student_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL 4 Data Science: Predict Project
## Bhejane Online Trading Store

### Student Starter Notebook

© Explore Data Science Academy

### Honour Code

I {ASMAA, HASSAN}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

<a id='Context'></a>
### 1. Context

<div align="center" style="width: 600px; font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Bhejane_large.jpg"
     alt="The Black Rhino"
     style="float: center; padding-bottom=0.5em"
     width=600px/>
     Bhejane, or the Black Rhino. Image by <a href="https://commons.wikimedia.org/wiki/File:Black_Rhino_(Diceros_bicornis)_browsing_..._(46584052962).jpg">Wikimedia Commons</a>
</div>


The Bhejane trading store is an online retailer specialising in Covid essesstial items. The store has recently be struggling with the management of its database-related inventory system. Luckily for them, you've been hired as a consultant to fix the problem.

Its time to flex your Ninja SQL skills!

**Your mission, should you choose to accept it:**

You will receive a denormalised database consisting of two tables. Your task is to transform the database such that is in third normal form (3NF). To ensure that a consistent normalisation process is followed by each student, we have attached an Entity Relationship Diagram (ERD) which is a guideline on what tables need to be produced. Once you have normalised the databasse, you will be required to complete an MCQ test found under the 'Predict' tab of Athena.

<a id='Imports'></a>
### 2. Imports
Please use the below command to install sql_magic, this is the package that will assist you with SQL syntax hightlighting.
* pip install sql_magic

**NB: To run this notebook on Colab, you will also have to install the packages below;**
* `pip install sqlalchemy==1.4.47`
* `pip install ipython-sql`
* `pip install pymysql`

Remember to start each new cell with:  **`%%sql`**

In [ ]:
!pip install sqlalchemy==1.4.47
!pip install ipython-sql
!pip install pymysql

Collecting sqlalchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.5 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.47) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.31
    Uninstalling SQLAlchemy-2.0.31:
      Successfully uninstalled SQLAlchemy-2.0.31
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.47 which is incompatible.
Successfully installed sqlalchemy-1.4.47
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.31-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 28.0 MB/s eta 0:00:00
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 57.4 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.47
    Uninstalling SQLAlchemy-1.4.47:
      Successfully uninstalled SQLAlchemy-1.4.47
Successfully installed jedi-0.19.1 sqlalchemy-2.0.31
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
# DO NOT EDIT THIS CELL
import sqlite3
import csv
from sqlalchemy import create_engine
%load_ext sql

# Load SQLite database
%sql sqlite:///bhejane.db

<a id='Data_description'></a>
### 3. Data description

The original database consist of 2 tables.
* Product Table
* Transaction Table

In [ ]:
# DO NOT EDIT THIS CELL
import pandas as pd
data_description = pd.read_excel('Data Description.xlsx')
data_description

,Table Name,Column Name,Desciption
0,Products,Width,Width of the product once assembled
1,Products,Length,Length of the product once assembled
2,Products,Height,Height of the product once assembled
3,Products,Barcode,The unique product identifier
4,Products,Quantity,Number of goods in stock
5,Products,Brand,Product brand name relating to product company
6,Products,NavigationPath,Navigation path to specific product
7,Products,Colour,Name default colour for the product
8,Products,StockCountry,Country where the stock was bought from
9,Products,ProductDescription,Descriptive product name
10,Products,PackType,The way in which the product is packaged
11,Products,Volume_litre,The quantity of liquid based products
12,Products,Warranty,Product warranty type
13,Products,Weight_kg,Weight of the product
14,Products,ItemDescription,Description of contents of the package
15,Products,Price,The cost of the product in Rands
16,Transactions,CartID,Identifies an individual basket from a user pu...
17,Transactions,Barcode,Barcode for item that user purchased
18,Transactions,Total,Total value of a transaction
19,Transactions,UserName,Name of customer purchasing stock
20,Transactions,InvoiceDate,Date on which the product was bought

<a id='Setting_up'></a>
### 4. Setting up the database

In [ ]:
#DO NOT EDIT THIS CELL
conn = sqlite3.connect('bhejane.db')
cursor = conn.cursor()

#### Creating both Products and Transaction Tables

In [ ]:
%%sql
--DO NOT EDIT THIS CELL
DROP TABLE IF EXISTS "Products";
DROP TABLE IF EXISTS "Transactions";

CREATE TABLE "Products" (
    "Width"   REAL,
    "Length"  REAL,
    "Height"  REAL,
    "Barcode" VARCHAR(150) NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "Brand" VARCHAR(150),
    "NavigationPath" VARCHAR(150),
    "Colour" VARCHAR(150),
    "StockCountry" VARCHAR(150),
    "ProductDescription" VARCHAR(150) NOT NULL,
    "PackType" VARCHAR(150),
    "Volume_litre" REAL,
    "Warranty" VARCHAR(150),
    "Weight_kg" REAL,
    "ItemDescription" VARCHAR(150),
    "Price" REAL
);


CREATE TABLE "Transactions" (
    "CartID" INTEGER,
    "Barcode" VARCHAR(150),
    "Total" REAL,
    "UserName" VARCHAR(150),
    "InvoiceDate" DATETIME
);

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.

[]

#### Load Data into Product and Transaction tables

In [ ]:
# DO NOT EDIT CELL
# Load data into Product table
with open('bhejane_covid_essentials_Products.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Width'],i['Length'],i['Height'], i['Barcode'], i['Quantity'], i['Brand'], i['NavigationPath'], i['Colour'], i['StockCountry'], i['ProductDescription'],i['PackType'],i['Volume_litre'],i['Warranty'],i['Weight_kg'],i["ItemDescription"],i['Price']) for i in dr]

cursor.executemany("INSERT INTO Products VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
conn.commit()

with open('bhejane_covid_essentials_Transactions.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['CartID'],i['Barcode'], i['Total'], i['UserName'], i['InvoiceDate']) for i in dr]

cursor.executemany("INSERT INTO Transactions VALUES (?, ?, ?, ?, ?);", to_db)
conn.commit()

<a id='ERD'></a>
### 5. Denormalized Database Tables


<br>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/Denormalized_Tables.png" alt="Denormalized Tables" border="0">

#### 5.1 Explore the Denormalized Tables
Familiarize yourself with the data given in the two tables by writing your own SQL queries to explore properties of the dataset.i.e Look for data inconsistencies, anormalies, redundancies etc to guide your normalization process.

This section will not be graded - think of it as your own scratch pad.

In [ ]:
%%sql
-- #Use this section to explore the database by writing your own queries
SELECT * FROM Products
LIMIT 2;

 * sqlite:///bhejane.db
Done.

[('', '', '', '300507946', 493, 'Hikvision', 'Computers & Tablets / Smart Home & Connected Living / Home Security / Security Cameras', '', '', 'Hikvision 1080P 2MP Turbo HD IR Bullet Camera', '', 0.0, 'Limited (6 months)', '', '1 x Hikvision 1080P Bullet camera', 399.0),
 ('', '', '', '300507946', 493, 'Hikvision', 'Computers & Tablets / Smart Home & Connected Living / Home Security / Security Cameras', '', '', 'Hikvision 1080P 2MP Turbo HD IR Bullet Camera', '', 0.0, 'Limited (6 months)', '', 'Manual', 399.0)]

### 6. Normalize the given Database tables to the 1st Normal Form (1NF)

Given the below below target ERD create new tables such the the database conforms to the 1st Normal Form

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/1NF.png" alt="1st Normal Form ERD" border="0">

It is suggested that you create all your tables before attempting to populate them with data, this will help reduce errors that might creep up due to logical dependencies.

#### 6.1 Create the tables required for the 1st Normal Form
Use the above ERD sketch to create the required tables. Please label your tables as they appear in the ERD sketch

In [ ]:
%%sql
--#Create tables required for 1NF
DROP TABLE IF EXISTS "Products_1NF";
DROP TABLE IF EXISTS "Transactions_1NF";

CREATE TABLE "Products_1NF"(
    "Barcode" VARCHAR(150) NOT NULL,
    "NavigationPath" VARCHAR(150) NOT NULL,
    "ItemDescription" VARCHAR(150) NOT NULL,
    "ProductDescription" VARCHAR(150) NOT NULL,
    "Brand" VARCHAR(150),
    "Price" REAL NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "PackType" VARCHAR(150),
    "Warranty" VARCHAR(150),
    "StockCountry" VARCHAR(150),
    "Colour" VARCHAR(150),
    "Weight_kg" REAL,
    "Volume_litre" REAL,
    "Length" REAL,
    "Width" REAL,
    "Height" REAL,
    FOREIGN KEY ("Barcode") REFERENCES "Transactions_1NF" ("Barcode"),
    PRIMARY KEY("Barcode","NavigationPath","ItemDescription")
);

CREATE TABLE "Transactions_1NF" (
    "CartID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL,
    "UserName" VARCHAR(150) NOT NULL,
    "InvoiceDate" DATETIME NOT NULL,
    "Total" REAL NOT NULL,
    FOREIGN KEY ("Barcode") REFERENCES "Products_1NF" ("Barcode"),
    PRIMARY KEY("CartID", "Barcode")
);

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.

[]

#### 6.2 Populate the tables you have create in the above section.

Populate the tables such that the database conforms to the 1st Normal Form

In [ ]:
%%sql
--#Populate the 1NF tables
DELETE FROM "Products_1NF";
DELETE FROM "Transactions_1NF";

INSERT INTO "Products_1NF" ("Barcode","NavigationPath","ItemDescription","Colour","ProductDescription","Brand",
                            "Price","Quantity","PackType","Warranty","StockCountry","Weight_kg",
                            "Volume_litre","Length","Width","Height")
SELECT DISTINCT
     Barcode
    ,NavigationPath
    ,ItemDescription
    ,Colour
    ,ProductDescription
    ,Brand
    ,Price
    ,Quantity
    ,PackType
    ,Warranty
    ,StockCountry
    ,Weight_kg
    ,Volume_litre
    ,Length
    ,Width
    ,Height
FROM
    Products;

INSERT INTO "Transactions_1NF"("CartID","Barcode","UserName","InvoiceDate","Total")
SELECT DISTINCT
    CartID
    ,Barcode
    ,UserName
    ,InvoiceDate
    ,Total
FROM
    Transactions;

 * sqlite:///bhejane.db
0 rows affected.
0 rows affected.
1162 rows affected.
278 rows affected.

[]

###  7. Convert the database into its 2nd Normal Form (2NF).

Please label your tables as they appear in the ERD sketch.

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/2NF.png" alt="2nd Normal Form ERD" border="0">

In [ ]:
%%sql
--#Create tables required for 2NF

DROP TABLE IF EXISTS "Products_2NF";
DROP TABLE IF EXISTS "Transactions_2NF";
DROP TABLE IF EXISTS "Navigation_2NF";
DROP TABLE IF EXISTS "PackageContents_2NF";
DROP TABLE IF EXISTS "Colours_2NF";



CREATE TABLE "Products_2NF"(
    "RegistryID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL,
    "ProductDescription" VARCHAR(150) NOT NULL,
    "Brand" VARCHAR(150),
    "Price" REAL NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "StockCountry" VARCHAR(150),
    "Weight_kg" REAL,
    "Volume_litre" REAL,
    "Length" REAL,
    "Width" REAL,
    "Height" REAL,
    "PathID" INTEGER,
    "ItemID" INTEGER,
    "ColourID" INTEGER,
    PRIMARY KEY("RegistryID" AUTOINCREMENT),
    FOREIGN KEY("PathID") REFERENCES "Navigation_2NF" ("PathID"),
    FOREIGN KEY("ItemID") REFERENCES "PackageContents_2NF" ("ItemID"),
    FOREIGN KEY("ColourID") REFERENCES "Colours_2NF" ("ColourID")
    FOREIGN KEY ("Barcode") REFERENCES "Transactions_2NF" ("Barcode")
);



CREATE TABLE "Transactions_2NF" (
    "CartID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL,
    "UserName" VARCHAR(150) NOT NULL,
    "InvoiceDate" DATETIME NOT NULL,
    "Total" REAL NOT NULL,
    FOREIGN KEY ("Barcode") REFERENCES "Products_2NF" ("Barcode"),
    PRIMARY KEY("CartID", "Barcode")
);


CREATE TABLE "Navigation_2NF"(
    "PathID" INTEGER NOT NULL,
    "NavigationPath" VARCHAR(150),
    PRIMARY KEY("PathID" AUTOINCREMENT)
);

CREATE TABLE "Colours_2NF"(
    "ColourID" INTEGER NOT NULL,
    "Colour" VARCHAR(150),
    PRIMARY KEY("ColourID" AUTOINCREMENT)
);

CREATE TABLE "PackageContents_2NF"(
    "ItemID" INTEGER NOT NULL,
    "ItemDescription" VARCHAR(150),
    "PackType" VARCHAR(150),
    "Warranty" VARCHAR(150),
    PRIMARY KEY("ItemID" AUTOINCREMENT)
);

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
-- #Populate the tables so that they conform to 2NF

DELETE FROM "Products_2NF";
DELETE FROM "Transactions_2NF";
DELETE FROM "Navigation_2NF";
DELETE FROM "PackageContents_2NF";
DELETE FROM "Colours_2NF";


INSERT INTO "Navigation_2NF"("NavigationPath")
SELECT DISTINCT
    NavigationPath
FROM
    Products;

INSERT INTO "PackageContents_2NF"("ItemDescription","PackType","Warranty")
SELECT DISTINCT
    ItemDescription,
    PackType,
    Warranty
FROM
    Products
WHERE ItemDescription <> '';

INSERT INTO "Colours_2NF"("Colour")
SELECT DISTINCT
    Colour
FROM
    Products
WHERE Colour <> '';

INSERT INTO "Products_2NF" ("PathID","ItemID","ColourID","Barcode","ProductDescription","Brand","Price",
                            "Quantity","StockCountry","Weight_kg","Volume_litre",
                            "Length","Width","Height")
SELECT
    Navigation_2NF.PathID,
    PackageContents_2NF.ItemID,
    Colours_2NF.ColourID,
    Barcode,
    ProductDescription,
    Brand,
    Price,
    Quantity,
    StockCountry,
    Weight_kg,
    Volume_litre,
    Length,
    Width,
    Height
FROM
    Products
LEFT JOIN Navigation_2NF ON Products.NavigationPath = Navigation_2NF.NavigationPath
LEFT JOIN PackageContents_2NF ON Products.ItemDescription = PackageContents_2NF.ItemDescription
LEFT JOIN Colours_2NF ON Products.Colour = Colours_2NF.Colour;


INSERT INTO "Transactions_2NF"("CartID","Barcode","UserName","InvoiceDate","Total")
SELECT DISTINCT
    CartID
    ,Transactions.Barcode
    ,UserName
    ,InvoiceDate
    ,Total
FROM
    Transactions
JOIN Products_2NF ON Transactions.Barcode = Products_2NF.Barcode ;

 * sqlite:///bhejane.db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
396 rows affected.
600 rows affected.
17 rows affected.
1214 rows affected.
275 rows affected.

[]

<a id='Target_ERD'></a>
### 8. Convert the table into its 3rd Normal Form (3NF)

Please label your tables as they appear in the ERD sketch

<br>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/3NF.png" alt="3rd Normal Form ERD" border="0"></a>

In [ ]:
%%sql

--#Create tables required for 2NF
DROP TABLE IF EXISTS "Transactions_3NF";
DROP TABLE IF EXISTS "Products_3NF";
DROP TABLE IF EXISTS "Users_3NF";
DROP TABLE IF EXISTS "Navigation_3NF";
DROP TABLE IF EXISTS "PackageContents_3NF";
DROP TABLE IF EXISTS "Colours_3NF";
DROP TABLE IF EXISTS "Brands_3NF";
DROP TABLE IF EXISTS "Locations_3NF";

CREATE TABLE "Products_3NF" (
    "RegistryID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL,
    "ProductDescription" VARCHAR(150) NOT NULL,
    "Price" REAL NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "Weight_kg" REAL,
    "Volume_litre" REAL,
    "Length" REAL,
    "Width" REAL,
    "Height" REAL,
    "PathID" INTEGER,
    "ItemID" INTEGER,
    "ColourID" INTEGER,
    "BrandID" INTEGER,
    "LocationID" INTEGER,
    PRIMARY KEY("RegistryID" AUTOINCREMENT),
    FOREIGN KEY("PathID") REFERENCES "Navigation_3NF" ("PathID"),
    FOREIGN KEY("ItemID") REFERENCES "PackageContents_3NF" ("ItemID"),
    FOREIGN KEY("ColourID") REFERENCES "Colours_3NF" ("ColourID") ,
    FOREIGN KEY ("BrandID") REFERENCES "Brands_3NF" ("BrandID"),
    FOREIGN KEY ("Barcode") REFERENCES "Transactions_3NF" ("Barcode"),
    FOREIGN KEY ("LocationID") REFERENCES "Locations_3NF" ("LocationID")
);

CREATE TABLE "Transactions_3NF" (
    "CartID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL,
    "UserID" VARCHAR(150) NOT NULL,
    "InvoiceDate" DATETIME NOT NULL,
    "Total" REAL NOT NULL,
    FOREIGN KEY ("Barcode") REFERENCES "Products_3NF" ("Barcode"),
    FOREIGN KEY ("UserID") REFERENCES "Users_3NF"("UserID")
    PRIMARY KEY("CartID", "Barcode")
);


CREATE TABLE "Users_3NF"(
    "UserID" INTEGER NOT NULL,
    UserName VARCHAR(50) NOT NULL,
    PRIMARY KEY("UserID" AUTOINCREMENT)
);


CREATE TABLE "Navigation_3NF"(
    "PathID" INTEGER NOT NULL,
    "NavigationPath" VARCHAR(150),
    PRIMARY KEY("PathID" AUTOINCREMENT)
);

CREATE TABLE "PackageContents_3NF"(
    "ItemID" INTEGER NOT NULL,
    "ItemDescription" VARCHAR(150),
    "PackType" VARCHAR(150),
    "Warranty" VARCHAR(150),
    PRIMARY KEY("ItemID" AUTOINCREMENT)
);

CREATE TABLE "Colours_3NF"(
    "ColourID" INTEGER NOT NULL,
    "Colour" VARCHAR(150),
    PRIMARY KEY("ColourID" AUTOINCREMENT)
);


CREATE TABLE "Brands_3NF"(
    "BrandID" INTEGER NOT NULL,
    "Brand" VARCHAR(150),
    PRIMARY KEY("BrandID" AUTOINCREMENT)
);

CREATE TABLE "Locations_3NF"(
    "LocationID" INTEGER NOT NULL,
    "StockCountry" VARCHAR(150),
    PRIMARY KEY("LocationID" AUTOINCREMENT)
);

 * sqlite:///bhejane.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

--# Populate the tables to that they conform to the 3rd Normal Form
DELETE FROM "Products_3NF";
DELETE FROM "Transactions_3NF";
DELETE FROM "Users_3NF";
DELETE FROM "Navigation_3NF";
DELETE FROM "PackageContents_3NF";
DELETE FROM "Colours_3NF";
DELETE FROM "Brands_3NF";
DELETE FROM "Locations_3NF";

INSERT INTO "Users_3NF" ("UserName")
SELECT DISTINCT UserName FROM Transactions_2NF;

INSERT INTO "Locations_3NF" ("StockCountry")
SELECT DISTINCT StockCountry FROM Products_2NF
WHERE StockCountry <> '';

INSERT INTO "Brands_3NF" ("Brand")
SELECT DISTINCT Brand FROM Products_2NF
WHERE Brand <> '';

INSERT INTO "Colours_3NF" ("Colour")
SELECT DISTINCT Colour FROM Colours_2NF;

INSERT INTO "PackageContents_3NF" ("ItemDescription","PackType","Warranty")
SELECT DISTINCT
    ItemDescription,
    PackType,
    Warranty
FROM
    PackageContents_2NF
WHERE ItemDescription <> '';

INSERT INTO "Navigation_3NF" ("NavigationPath")
SELECT DISTINCT
    NavigationPath
FROM
    Navigation_2NF;

INSERT INTO "Transactions_3NF"("CartID","Barcode","UserID","InvoiceDate","Total")
SELECT DISTINCT
    CartID
    ,Transactions_2NF.Barcode
    ,Users_3NF.UserID
    ,InvoiceDate
    ,Total
FROM
    Transactions_2NF
JOIN Products_2NF ON Transactions_2NF.Barcode = Products_2NF.Barcode
JOIN Users_3NF ON Transactions_2NF.UserName = Users_3NF.Username;


INSERT INTO "Products_3NF" ("PathID","ItemID","ColourID","BrandID","LocationID",
                            "Barcode","ProductDescription","Price",
                            "Quantity","Weight_kg","Volume_litre",
                            "Length","Width","Height")
SELECT
    Navigation_3NF.PathID,
    PackageContents_3NF.ItemID,
    Colours_3NF.ColourID,
    Brands_3NF.BrandID,
    Locations_3NF.LocationID,
    Barcode,
    ProductDescription,
    Price,
    Quantity,
    Weight_kg,
    Volume_litre,
    Length,
    Width,
    Height
FROM
    Products
LEFT JOIN Navigation_3NF ON Products.NavigationPath = Navigation_3NF.NavigationPath
LEFT JOIN PackageContents_3NF ON Products.ItemDescription = PackageContents_3NF.ItemDescription
LEFT JOIN Colours_3NF ON Products.Colour = Colours_3NF.Colour
LEFT JOIN Brands_3NF ON Products.Brand = Brands_3NF.Brand
LEFT JOIN Locations_3NF ON Products.StockCountry = Locations_3NF.StockCountry
;

 * sqlite:///bhejane.db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
158 rows affected.
2 rows affected.
232 rows affected.
17 rows affected.
600 rows affected.
396 rows affected.
275 rows affected.
1214 rows affected.

[]

<a id='MCQ_questions'></a>
## 9. MCQ Questions

Having completed the normalisation of the database, you may use the following cells to help you answer the MCQs for the predict.

Q1) How many products (Total Stock) does the company have?

In [ ]:
%%sql
SELECT COUNT(*) AS TotalStock
FROM "Products_3NF";

 * sqlite:///bhejane.db
Done.

[(1214,)]

Q2) Which user(s) bought from Bhejane on the 25th of March in 2020?

In [ ]:
import sqlite3
import pandas as pd

# Connect to your database
conn = sqlite3.connect('bhejane.db')

# Define your SQL query
query = """
SELECT
    u.user_id,
    u.user_name
FROM
    users u
JOIN
    orders o ON u.user_id = o.user_id
JOIN
    order_details od ON o.order_id = od.order_id
JOIN
    products p ON od.product_id = p.product_id
JOIN
    brands b ON p.brand_id = b.brand_id
WHERE
    b.brand_name = 'Bhejane'
    AND o.order_date = '2020-03-25';
"""

# Load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(df)

DatabaseError: Execution failed on sql '
SELECT
    u.user_id,
    u.user_name
FROM
    users u
JOIN
    orders o ON u.user_id = o.user_id
JOIN
    order_details od ON o.order_id = od.order_id
JOIN
    products p ON od.product_id = p.product_id
JOIN
    brands b ON p.brand_id = b.brand_id
WHERE
    b.brand_name = 'Bhejane'
    AND o.order_date = '2020-03-25';
': no such table: users

In [ ]:
%%sql
-- Check if Bhejane exists in Navigation_3NF
SELECT * FROM Navigation_3NF WHERE NavigationPath = 'Bhejane';

-- Check transactions on the given date
SELECT * FROM Transactions_3NF WHERE InvoiceDate = '2020-03-25';

-- Check joined results
SELECT t.CartID, t.Barcode, n.NavigationPath, u.UserName
FROM Transactions_3NF t
JOIN Products_3NF p ON t.Barcode = p.Barcode
JOIN Navigation_3NF n ON p.PathID = n.PathID
JOIN Users_3NF u ON t.UserID = u.UserID
WHERE n.NavigationPath = 'Bhejane'
AND t.InvoiceDate = '2020-03-25';

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql
SELECT * FROM Transactions_3NF WHERE InvoiceDate = '2020-03-25';

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql
SELECT * FROM Products_3NF p
JOIN Navigation_3NF n ON p.PathID = n.PathID
WHERE n.NavigationPath = 'Bhejane';

 * sqlite:///bhejane.db
Done.

[]

In [ ]:
%%sql
SELECT DISTINCT t.UserID, u.UserName
FROM Transactions_3NF t
JOIN Products_3NF p ON t.Barcode = p.Barcode
JOIN Navigation_3NF n ON p.PathID = n.PathID
JOIN Users_3NF u ON t.UserID = u.UserID
WHERE n.NavigationPath = 'Bhejane';

 * sqlite:///bhejane.db
Done.

[]

In [ ]:
%%sql
SELECT DISTINCT DATE(InvoiceDate)
FROM Transactions_3NF
ORDER BY DATE(InvoiceDate);

 * sqlite:///bhejane.db
Done.

[(None,)]

In [ ]:
%%sql
SELECT t.CartID, t.Barcode, t.UserID, t.InvoiceDate, u.UserName
FROM Transactions_3NF t
JOIN Users_3NF u ON t.UserID = u.UserID
WHERE DATE(t.InvoiceDate) = '2020-03-25';

 * sqlite:///bhejane.db
Done.

[]

In [ ]:
%%sql
SELECT t.CartID, t.Barcode, t.InvoiceDate, n.NavigationPath
FROM Transactions_3NF t
JOIN Products_3NF p ON t.Barcode = p.Barcode
JOIN Navigation_3NF n ON p.PathID = n.PathID
WHERE DATE(t.InvoiceDate) = '2020-03-25';

 * sqlite:///bhejane.db
Done.

[]

Q3) List the date(s) where Mandla bought something from Bhejane.

In [ ]:
%%sql
SELECT DISTINCT t."InvoiceDate"
FROM "Transactions_3NF" t
JOIN "Products_3NF" p ON t."Barcode" = p."Barcode"
JOIN "Users_3NF" u ON t."UserID" = u."UserID"
JOIN "Brands_3NF" b ON p."BrandID" = b."BrandID"
WHERE u."UserName" = 'Mandla'
  AND b."Brand" = 'Bhejane';

 * sqlite:///bhejane.db
Done.

[]

Q4) Which brand has the largest product variety available at Bhejane?

In [ ]:
%%sql
SELECT Brand
FROM (
    SELECT b.Brand, COUNT(DISTINCT p.Barcode) AS ProductCount
    FROM Products_3NF p
    JOIN Navigation_3NF n ON p.PathID = n.PathID
    JOIN Brands_3NF b ON p.BrandID = b.BrandID
    WHERE n.NavigationPath = 'Bhejane'
    GROUP BY b.Brand
)
ORDER BY ProductCount DESC
LIMIT 1;

 * sqlite:///bhejane.db
Done.

[]

In [ ]:
%%sql
SELECT Brand
FROM (
    SELECT b.Brand, COUNT(*) AS ProductCount
    FROM Products_3NF p
    JOIN Navigation_3NF n ON p.PathID = n.PathID
    JOIN Brands_3NF b ON p.BrandID = b.BrandID
    WHERE n.NavigationPath = 'Bhejane'
    GROUP BY b.Brand
)
ORDER BY ProductCount DESC
LIMIT 1;

 * sqlite:///bhejane.db
Done.

[]

Q5) How much did Zanele spend on the 4th of April 2020?

In [ ]:
%%sql
SELECT
    SUM(od.quantity * od.price) AS total_spent
FROM
    users u
JOIN
    orders o ON u.user_id = o.user_id
JOIN
    order_details od ON o.order_id = od.order_id
WHERE
    u.user_name = 'Zanele'
    AND o.order_date = '2020-04-04';

UsageError: Cell magic `%%sql` not found.

Q6) Assuming the average pick-up truck can hold 90 $m^{3}$ of stock. How many bags of 'Catmor - Dry Cat Food - Chicken - 4kg' can you fit in the truck? Round down your answer to the nearest whole number.

1$m^{3}$ = 1000000$cm^{3}$

In [ ]:
%%sql
-- Step 1: Assuming we have a table 'products' with the dimensions in cm
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    length_cm FLOAT,
    width_cm FLOAT,
    height_cm FLOAT
);

-- Step 2: Insert the dimensions for 'Catmor - Dry Cat Food - Chicken - 4kg'
INSERT INTO products (product_id, product_name, length_cm, width_cm, height_cm)
VALUES (1, 'Catmor - Dry Cat Food - Chicken - 4kg', 50, 30, 15);

-- Step 3: Calculate how many bags can fit in the truck
SELECT
    FLOOR(90000000 / (length_cm * width_cm * height_cm)) AS bags_that_fit
FROM
    products
WHERE
    product_name = 'Catmor - Dry Cat Food - Chicken - 4kg';

UsageError: Cell magic `%%sql` not found.

Q7) Which user spent the most having only bought 4 items in the Year 2020?

In [ ]:
%%sql
-- Write your query here:

 * sqlite:///bhejane.db
Done.

[]

Q8) What would the total price be if I had the following items in my cart?

* Estee Lauder Double Wear Stay In Place Makeup
* Angelcare - Nappy Bin Refill - 3 Pack
* RCT 650VA Line Interactive UPS

In [ ]:
%%sql
-- Write your query here:

 * sqlite:///bhejane.db
Done.

[]

Q9) From a stock count point of view, which product in Bhejane has the highest quantity?

In [ ]:
%%sql
-- Write your query here:

 * sqlite:///bhejane.db
Done.

[]

Q10) How many products are imported from the United Kingdom?

In [ ]:
%%sql
-- Write your query here:

 * sqlite:///bhejane.db
Done.

[]

Q11) What is the name and colour of the following item (Barcode TAL00035388021)?

In [ ]:
%%sql
-- Write your query here

 * sqlite:///bhejane.db
Done.

[]

Q12) How many beer brands exist in the database?

In [ ]:
%%sql
-- Write your query here:

 * sqlite:///bhejane.db
Done.

[]

Q13) Which product contains the most package contents and belongs to more than 2 navigation paths?

In [ ]:
%%sql

-- Write your query here

 * sqlite:///bhejane.db
Done.

[]

Q14) Which user bought the product: "Canon PG-445 & CL-446 Ink Cartridges Multipack" in the month of May 2020 and what is their warranty type?

In [ ]:
%%sql
SELECT
    u.user_id,
    u.user_name,
    w.warranty_type
FROM
    users u
JOIN
    orders o ON u.user_id = o.user_id
JOIN
    order_details od ON o.order_id = od.order_id
JOIN
    products p ON od.product_id = p.product_id
JOIN
    warranties w ON o.warranty_id = w.warranty_id
WHERE
    p.product_name = 'Canon PG-445 & CL-446 Ink Cartridges Multipack'
    AND o.order_date BETWEEN '2020-05-01' AND '2020-05-31';

UsageError: Cell magic `%%sql` not found.

Q15) Which user(s) bought silver coloured products from the Russell Hobbs brand?

In [ ]:
%%sql
SELECT
    u.user_id,
    u.user_name
FROM
    users u
JOIN
    orders o ON u.user_id = o.user_id
JOIN
    order_details od ON o.order_id = od.order_id
JOIN
    products p ON od.product_id = p.product_id
JOIN
    brands b ON p.brand_id = b.brand_id
WHERE
    p.color = 'Silver'
    AND b.brand_name = 'Russell Hobbs';

UsageError: Cell magic `%%sql` not found.